<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html [NC]

  RewriteRule ^Jolie\ plus$ Jolie\ plus.html [NC,L]
  RewriteRule ^liz\ matta$ liz\ matta.html [NC,L]
  RewriteRule ^ESCEX$ ESCEX.html [NC,L]
  RewriteRule ^vidrios\ G.M$ vidrios\ G.M.html [NC,L]
  RewriteRule ^CTL$ CTL.html [NC,L]
  RewriteRule ^tambo\ peru$ tambo\ peru.html [NC,L]
  RewriteRule ^bella\ dent$ bella\ dent.html [NC,L]
</IfModule>
